* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
.btn {
    margin: 3px;
}
.gifDiv{
    float: left;
    margin: 3px;
}
.container {
	background-color: #fff;
	opacity: 0.8;
	padding: 20px;
}

.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}